.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: orangered !important;
}

.review-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin-top: 5%;
}

.review-main {
    flex: 1
}

.slider {
    margin: 0 auto;
    width: 75%;

}

.review-container-text h1 {
    font-size: 300%;
    color: #4A4A4A;
    font-weight: bolder;
}

.review-container-text h2 {
    color: orangered;
    font-size: 200%;
}

.client-card-image {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}