.card-img-top {
    height: 25em;
    object-fit: cover;
}

.card-design:hover {
    transform: scale(1.05);
}

.card-design {
    box-shadow: 10px 10px 5px 0px rgba(233, 228, 228, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(233, 228, 228, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(233, 228, 228, 0.75);
}