.home-banner {
    background-image: url(../../images/home_bannar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.home-banner::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.home-banner h1 {
    position: relative;
    line-height: 0.9;

}

.custom-font-home h1 {
    /* font-size: 6vw; */
    font-size: 450%;
}

.custom-font-home p {
    font-size: 130%;
}

.service-container {
    margin-top: 10%;
    background-color: #FAFAFA;
}

.service-container-header {
    padding: 5% 5% 0 5%;

}

.service-container .custom-font-home h1 {
    font-size: 300%;
    font-weight: lighter;
}

.service-container .custom-font-home p {
    font-size: 110%;
    font-weight: lighter;
}



@media (max-width: 940px) {
    .home-banner {
        height: 300px;
    }
}